<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>list ejs</title>
</head>
<body>
    <h1>hello this is ejs</h1>
    <h1>today is <%= kindofday %> </h1>
</body>
</html>